html, body, #__next, .layout.ant-layout {
  height: 100%;
}

.main-content {
  padding: 0 50px;
  min-height: 700px !important;
}

.lang {
  border-bottom: none !important;
  &:hover {
    border-bottom: none !important;
  }
}

.margin__auto {
  margin: 0 auto !important;
}
